/**Riwaj Bastola UNID: 164443282**/
.bioimg{
  width:40%;
  margin-left: 100px;
  margin-top: 100px;

}
.bioimg img{
width:200px;
height:300px;
border-radius: 60%;



 }
 .bio{
  margin-left: 0px;
  width: 60%;
  font-family: 'Amiri', serif;
  margin-right: 100px;
 }

.bio h2{
  font-family: 'Amiri', serif;
  text-align: center;

 }


 .combo{
   display:flex;
   width: 100%;
  box-shadow: 10px 10px 20px 20px;
  background: linear-gradient(silver, grey);
 }

section{
  display: flex;
  width: 100%;
 }
