/**Riwaj Bastola UNID: 164443282**/
.cv{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 100px;

}
.education{
  box-shadow: 10px 10px 20px 20px;
  width: 25%;
  padding: 50px;
  margin: 50px;
  font-family: 'Amiri', serif;

}
 h2{
  font-family: 'Amiri', serif;
}
.skills{
  box-shadow: 10px 10px 20px 20px;
  width: 25%;
  padding: 50px;
  margin: 50px;
  font-family: 'Amiri', serif;
}

.relavent{
  box-shadow: 10px 10px 20px 20px;
  width: 25%;
  padding: 50px;
  margin: 50px;
  height: 200px;
  font-family: 'Amiri', serif;

}
.hobbies{
  box-shadow: 10px 10px 20px 20px;
  width: 25%;
  padding: 50px;
  margin: 50px;
  font-family: 'Amiri', serif;
}
