body{
  margin: 10px;

  background-color: #330066;

}

header{
   background:linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
}

.find img{
  width:60px;
  height: 60px;
  float: left;
}

.nav{
  background:linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
}
.nav ul{
  list-style-type: none;
  display:flex;
  justify-content: space-between;
}

.nav a{
  text-decoration: none;
  display:block;
  text-align: center;
  font-style: bold;
  font-family:monospace;
  font-size: 17px;
  color: black;

  }

.nav li{
  flex:1 1 0;
}

.nav a:hover{
  background:#FFEFD5;
}

h1{

  text-align: center;
  padding: 40px;
  font-family: 'Arizonia',cursive;
}

footer{
  width: 100%;
  background:linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);;
  height:120px;
  margin-top: 400px;
  display: flex;
  justify-content: space-between;



}

.copyright{
  text-align: center;
  font-style: italic;
}
.find{
  font-family: fantasy;

  padding-top: 5px;
}

.call{
  flex: 1;

}

.contact{
  flex: 1;
}
.find p{
  font-family:fantasy;
  margin-top: 2px;

}

.contact p{
  font-family: fantasy;
  margin-top: 7px;
}

.call p{
  font-family: fantasy;
  margin-top: 7px;

}

num{
  text-decoration: underline;
}
